body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: #fafafa;
  color: #222222;
  /*scroll-behavior: smooth;*/
}

p {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
}

h5 {
  font-weight: 600;
}

h6 {
  font-weight: 400;
}

a {
  color: #55B253;
  text-decoration: underline;
}

a:hover {
  color: #222222;
}

a.nav-item,
a.btn,
li a,
h1.navbar-brand a {
  text-decoration: none;
}

#myBtn {
  width: 60px;
  height: 60px;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  background: #222222 url("../images/bt-top.png") no-repeat center center;
  background-size: 18px;
  color: #fafafa;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
}

#myBtn:hover {
  background-color: #222222;
}

header {
  height: 100%;
  background-size: 560px;
}

header nav {
  background: #fafafa;
}

header nav h1.navbar-brand {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

header nav h1.navbar-brand a {
  color: #222222;
}

header nav h1.navbar-brand a:hover {
  text-decoration: none;
  color: #55B253;
}

header nav h1.navbar-brand img {
  width: 60px;
}

header nav a.nav-item {
  color: #222222;
}

header nav a.nav-item:hover {
  color: #55B253;
}

header nav .nav-link, header nav .btn {
  font-weight: 600;
}

header .navbar-toggler-icon {
  background-image: url("../images/hamburger.png");
  background-size: 19px;
}

header .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(161, 60, 60, 0);
  outline: none !important;
  padding: 0 !important;
}

header h2 {
  font-weight: 700;
  font-size: 48px;
  color: #4F589D;
}

header p {
  font-size: 20px;
}

header .former {
  color: #B5B5B5;
  font-size: 16px;
}

header .status-active {
  font-size: 16px;
  background: url("../images/status-active.png") no-repeat top left;
  background-size: 16px;
  background-position: 0px 4px;
}

header .status-active::after {
  content: 'Available for remote work and freelance';
}

header .author-pic {
  width: 300px;
  height: 380px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: -16px 16px #EFEFEF;
          box-shadow: -16px 16px #EFEFEF;
}

header .author-pic .carol {
  width: 360px;
  position: absolute;
  left: -40px;
  bottom: -120px;
  z-index: 2;
}

header .author-pic .azores {
  width: 600px;
  z-index: 1;
}

section {
  padding: 100px 0;
}

section#services {
  background: #F5F5F5;
}

section#services .deliveries {
  font-size: 14px;
}

section#newsletter {
  background: #4F589D;
  color: #fafafa;
}

section#portfolio .work-item {
  background: #e4e4e4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#f3f3f3));
  background: linear-gradient(to top, #e4e4e4, #f3f3f3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}

section#portfolio .work-item img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease;
}

section#portfolio .work-item img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

section#testimonials {
  background: #F5F5F5;
}

section#testimonials .col-4 {
  background: url("../images/testimonials-bg.png") no-repeat center center;
  background-size: 260px;
}

section#testimonials blockquote {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

section#testimonials img {
  width: 30px;
}

section#about .social p {
  font-size: 12px;
}

section#about .social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section#about .social li {
  padding: 20px 0;
}

section#about .social a {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
}

section#about .social .behance {
  background: url("../images/bt-behance.png") no-repeat right;
  background-size: 40px;
  padding: 10px 56px 10px 0;
}

section#about .social .instagram {
  background: url("../images/bt-instagram.png") no-repeat right;
  background-size: 40px;
  padding: 10px 56px 10px 0;
}

section#about .social .linkedin {
  background: url("../images/bt-linkedin.png") no-repeat right;
  background-size: 40px;
  padding: 10px 56px 10px 0;
}

section#about .social .peoople {
  background: url("../images/bt-peoople.png") no-repeat right;
  background-size: 40px;
  padding: 10px 56px 10px 0;
}

footer {
  background: #F5F5F5;
  color: #222222;
  padding: 100px 0 30px 0;
}

footer .status {
  font-size: 12px;
}

footer .status img {
  width: 64px;
  padding: 0 10px 0 0;
}

footer .copyright {
  font-size: 12px;
  color: #B5B5B5;
}

footer .btn {
  font-weight: 600;
}

/* large devices */
@media (max-width: 992px) {
  section#testimonials .col-4 {
    background: url("../images/testimonials-bg.png") no-repeat center center;
    background-size: 230px;
  }
}

/* tablet */
@media (max-width: 768px) {
  section#about {
    background: #EFEFEF;
  }
  section#about .social .behance {
    background: url("../images/bt-behance.png") no-repeat left;
    background-size: 40px;
    padding: 10px 0 10px 56px;
  }
  section#about .social .instagram {
    background: url("../images/bt-instagram.png") no-repeat left;
    background-size: 40px;
    padding: 10px 0 10px 56px;
  }
  section#about .social .linkedin {
    background: url("../images/bt-linkedin.png") no-repeat left;
    background-size: 40px;
    padding: 10px 0 10px 56px;
  }
  section#about .social .peoople {
    background: url("../images/bt-peoople.png") no-repeat left;
    background-size: 40px;
    padding: 10px 0 10px 56px;
  }
}

/* mobile */
@media (max-width: 576px) {
  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }
  #myBtn {
    display: none !important;
  }
  section {
    padding: 50px 0;
  }
  header nav h1.navbar-brand,
  header nav .nav-link,
  header nav .btn {
    font-size: 12px;
  }
  header nav h1.navbar-brand img,
  header nav .nav-link img,
  header nav .btn img {
    width: 20px;
    margin-top: -2px;
  }
  header nav .navbar-toggler {
    font-size: 16px;
  }
  header h2 {
    font-weight: 700;
    font-size: 32px;
    color: #4F589D;
  }
  header p {
    font-size: 18px;
  }
  header .former {
    color: #B5B5B5;
    font-size: 12px;
  }
  header .status-active {
    font-size: 12px;
    background: url("../images/status-active.png") no-repeat top left;
    background-size: 16px;
    background-position: 0px 1px;
  }
  section#testimonials blockquote {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
  section#testimonials img {
    width: 16px;
  }
  section#testimonials p {
    font-size: 12px;
  }
  footer {
    padding: 50px 0 30px 0;
  }
  footer .btn {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */